.header-division{
    display: flex;
    justify-content: space-between;
}

.premalu-big-poster{
    width: 100%;
    height: 80%;
}

.about-bhavana-studio{
    width: 100%;
    height: 80%;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.projects-of-bhavana-studios{
    text-align: center;
}

.project-movies{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project-movie-posters{
    width: 20em;
    height: 20em;
    
}

.project-movies-row-wise{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.gallery{
    text-align: center;
}

.primary-footer-bhavana-studios{
    display: flex;
    justify-content: space-around;
}
.secondary-footer-bhavana-studios{
    display: flex;
    justify-content: space-between;
}